<div class="container">
    <form>
        <div class="form-group row">
            <input class="form-control" id="name.first" placeholder="{{ 'label.name.first' | translate }}" title="{{ 'to.do' | translate }}" value="{ $pigeFormCtrl.currentUser.name.first }" type="text" required autofocus ng-model="$pigeFormCtrl.currentUser.name.first"
            ng-change="$pigeFormCtrl.updateCurrentUserData()">
        </div>
        <div class="form-group row">
            <input class="form-control" id="name.first" placeholder="{{ 'label.name.last' | translate }}" title="{{ 'to.do' | translate }}" value="{{ $pigeFormCtrl.currentUser.name.last }}" type="text" required   ng-model="$pigeFormCtrl.currentUser.name.last" ng-change="$pigeFormCtrl.updateCurrentUserData()">
        </div>
        <div class="form-group row">
            <ui-select ng-model="$pigeFormCtrl.currentUser.conjoint"
                       ng-disabled="$pigeFormCtrl.isConjointSelectorDisabled()">
                <ui-select-match placeholder="{{ $pigeFormCtrl.getUISelectPlaceholder() }}" allow-clear="true">
                    <span ng-bind="$pigeFormCtrl.currentUser.conjoint"></span>
                </ui-select-match>
                <ui-select-choices repeat="conjoint in ($pigeFormCtrl.conjoints | filter: $select.search) track by conjoint"
                                   refresh="$pigeFormCtrl.refreshResults($select)" refresh-delay="0">
                    <span ng-bind="conjoint"></span>
                </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group row">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" ng-model="$pigeFormCtrl.currentUser.isAdmin" ng-disabled="$pigeFormCtrl.isAdminCheckboxDisabled()">
                 &nbsp;{{ "checkbox.label.admin" | translate }}
              </label>
            </div>
        </div>
  </form>
</div>